<!--10402018.html-->
<h3>%year% 1040</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="f10402018wages">
    <th style="text-align:left;padding:0.25em;width:25%;">Wages, etc.</th>
    <td>%10402018wages%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      IRAs, etc. taxable
    </th>
    <td>%10402018irapensionstax%</td>
  </tr>
  <tr id="f10402018taxexinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Tax-exempt interest
    </th>
    <td>%10402018taxexinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Social security</th>
    <td>%10402018ssbenefits%</td>
  </tr>
  <tr id="f10402018taxinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable interest</th>
    <td>%10402018taxinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Total income</th>
    <td>%10402018totalincome%</td>
  </tr>
  <tr id="f10402018dividends">
    <th style="text-align:left;padding:0.25em;width:25%;">Dividends</th>
    <td>%10402018dividends%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Adjusted gross income
    </th>
    <td>%10402018adjgrossincome%</td>
  </tr>
  <tr id="f10402018irapensions">
    <th style="text-align:left;padding:0.25em;width:25%;">IRAs, etc.</th>
    <td>%10402018irapensions%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your IRS form</th>
    <td>%10402018irsform%</td>
  </tr>
</table>
