<!--1040ez.html-->
<h3>%year% 1040EZ</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="f1040ezwages">
    <th style="text-align:left;padding:0.25em;width:25%;">Wages, etc.</th>
    <td>%1040ezwages%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Unemployment</th>
    <td>%1040ezunemployment%</td>
  </tr>
  <tr id="f1040eztaxinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable interest</th>
    <td>%1040eztaxinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your IRS form</th>
    <td>%1040ezirsform%</td>
  </tr>
</table>

<div>%schedules%</div>
