<!--1040a.html-->
<h3>%year% 1040A</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="f1040awages">
    <th style="text-align:left;padding:0.25em;width:25%;">Wages, etc.</th>
    <td>%1040awages%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Pensions and annuities
    </th>
    <td>%1040apensions%</td>
  </tr>
  <tr id="f1040ataxinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable interest</th>
    <td>%1040ataxinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable amount</th>
    <td>%1040apensionstax%</td>
  </tr>
  <tr id="f1040ataxexinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Tax-exempt interest
    </th>
    <td>%1040ataxexinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Unemployment</th>
    <td>%1040aunemployment%</td>
  </tr>
  <tr id="f1040aorddividends">
    <th style="text-align:left;padding:0.25em;width:25%;">Dividends</th>
    <td>%1040aorddividends%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Social security</th>
    <td>%1040asocialsec%</td>
  </tr>
  <tr id="f1040acapgains">
    <th style="text-align:left;padding:0.25em;width:25%;">Capital gains</th>
    <td>%1040acapgains%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Deductions</th>
    <td>%1040adeductions%</td>
  </tr>
  <tr id="f1040airadisttax">
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable IRA</th>
    <td>%1040airadisttax%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your IRS form</th>
    <td>%1040airsform%</td>
  </tr>
</table>

<div>%schedules%</div>
