<!--1040.html-->
<h3>%year% 1040</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="f10402017wages">
    <th style="text-align:left;padding:0.25em;width:25%;">Wages, etc.</th>
    <td>%10402017wages%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Pensions and annuities
    </th>
    <td>%10402017pensionsannuties%</td>
  </tr>
  <tr id="f10402017taxinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable interest</th>
    <td>%10402017taxinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Taxable amount</th>
    <td>%10402017penannuitiestax%</td>
  </tr>

  <tr id="f10402017taxexinterest">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Tax-exempt interest
    </th>
    <td>%10402017taxexinterest%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Rental, etc.</th>
    <td>%10402017royaltiestrustsetc%</td>
  </tr>

  <tr id="f10402017dividends">
    <th style="text-align:left;padding:0.25em;width:25%;">Dividends</th>
    <td>%10402017dividends%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Farm</th>
    <td>%10402017farmincomeloss%</td>
  </tr>

  <tr id="f10402017taxrefunds">
    <th style="text-align:left;padding:0.25em;width:25%;">Refunds, etc.</th>
    <td>%10402017taxrefunds%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Unemployment</th>
    <td>%10402017unemployment%</td>
  </tr>

  <tr id="f10402017alimonyrcvd">
    <th style="text-align:left;padding:0.25em;width:25%;">Alimony</th>
    <td>%10402017alimonyrcvd%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Social security</th>
    <td>%10402017ssbenefits%</td>
  </tr>

  <tr id="f10402017bizincomeorloss">
    <th style="text-align:left;padding:0.25em;width:25%;">Business income</th>
    <td>%10402017bizincomeorloss%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Other income Type</th>
    <td>%10402017otherincometype%</td>
  </tr>

  <tr id="f10402017capgainloss">
    <th style="text-align:left;padding:0.25em;width:25%;">Capital gains</th>
    <td>%10402017capgainloss%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Other income</th>
    <td>%10402017otherincome%</td>
  </tr>

  <tr id="f10402017othergainsloss">
    <th style="text-align:left;padding:0.25em;width:25%;">Other gains</th>
    <td>%10402017othergainsloss%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Deductions</th>
    <td>%10402017deductions%</td>
  </tr>

  <tr id="f10402017iradisttax">
    <th style="text-align:left;padding:0.25em;width:25%;">IRAs</th>
    <td>%10402017iradisttax%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your IRS form</th>
    <td>%f10402017irsform%</td>
  </tr>
</table>

<div>%schedules%</div>
