<html>
  <body style="font-family:'Open Sans', sans-serif; line-height:2em;">
    <div
      style="text-align:center; max-width:60em;padding:1em;margin:1.5em auto; border:4px solid black;"
    >
      <h1>Senior Exemption Application</h1>
      <p>
        Please verify this information is accurate and sign at the bottom of
        this document.
      </p>
      <h2>Your Info</h2>
      <table border="1" style="width:90%;margin:1.5em auto;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Full name</th>
          <td style="padding:0.25em">Andres Camacho</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Date of birth
          </th>
          <td style="padding:0.25em">11-06-1945</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Proof of age
          </th>
          <td style="padding:0.25em">Provided</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Proof of disability
          </th>
          <td style="padding:0.25em">Not provided</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Email address
          </th>
          <td style="padding:0.25em">acamcx@gmail.com</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Phone number
          </th>
          <td style="padding:0.25em">111-111-111</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Veteran</th>
          <td style="padding:0.25em">No</td>
        </tr>
      </table>

      <h2>Spouse or registered domestic partner info</h2>
      <table border="1" style="width:90%;margin:1.5em auto;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Full name</th>
          <td style="padding:0.25em"></td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Date of birth
          </th>
          <td style="padding:0.25em">NA</td>
        </tr>
      </table>

      <h2>Property Info</h2>
      <h3></h3>
      <table border="1" style="width:90%;margin:1.5em auto;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Your property
          </th>
          <td style="padding:0.25em">
            ZHANG JIPING+CHEN HONG<br />, BELLEVUE , WA <br />
          </td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Parcel#</th>
          <td style="padding:0.25em">233000-0050</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Date Adquired
          </th>
          <td style="padding:0.25em">10-22-2015</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            First Date as primary residence
          </th>
          <td style="padding:0.25em">10-02-2019</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            This property has been my <br />primary residence since I acquired
            it.
          </th>
          <td style="padding:0.25em">Yes</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            People other than my spouse or <br />registered domestic partner and
            me live on this property.
          </th>
          <td style="padding:0.25em">No</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Major life changes
          </th>
          <td style="padding:0.25em">Yes</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Other properties
          </th>
          <td style="padding:0.25em">No</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Property is a co-op
          </th>
          <td style="padding:0.25em">No</td>
        </tr>
      </table>

      <h2>Mail</h2>
      <table border="1" style="width:90%;margin:1.5em auto;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Mailing Address
          </th>
          <td style="padding:0.25em">, BELLEVUE<br />WA NA<br /></td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Correspondence address
          </th>
          <td style="padding:0.25em">No</td>
        </tr>
      </table>

      <h2>Financial Info</h2>
      <div>
        <!--1040.html-->
        <h3>2017 1040</h3>
        <table border="1" style="width:90%;margin:1.5em auto;">
          <tr id="f10402017wages">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Wages, etc.
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Pensions and annuities
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017taxinterest">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Taxable interest
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Taxable amount
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017taxexinterest">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Tax-exempt interest
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Rental, etc.
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017dividends">
            <th style="text-align:left;padding:0.25em;width:25%;">Dividends</th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">Farm</th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017taxrefunds">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Refunds, etc.
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Unemployment
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017alimonyrcvd">
            <th style="text-align:left;padding:0.25em;width:25%;">Alimony</th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Social security
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017bizincomeorloss">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Business income
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Other income Type
            </th>
            <td>NA</td>
          </tr>
          <tr id="f10402017capgainloss">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Capital gains
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Other income
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017othergainsloss">
            <th style="text-align:left;padding:0.25em;width:25%;">
              Other gains
            </th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Deductions
            </th>
            <td>11.00</td>
          </tr>
          <tr id="f10402017iradisttax">
            <th style="text-align:left;padding:0.25em;width:25%;">IRAs</th>
            <td>11.00</td>
            <th style="text-align:left;padding:0.25em;width:25%;">
              Your IRS form
            </th>
            <td>NA</td>
          </tr>
        </table>

        <div>
          <!--schedule f.html-->
          <h3>Schedule F</h3>
          <table border="1" style="width:90%;margin:1.5em auto;">
            <tr id="schdFdepreciation">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Depreciation, etc.
              </th>
              <td>55</td>
            </tr>
            <tr id="yourscheduleF">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Your Schedule F
              </th>
              <td>NA</td>
            </tr>
          </table>

          <!--schedule d.html-->
          <h3>Schedule D</h3>
          <table border="1" style="width:90%;margin:1.5em auto;">
            <tr id="schdDrequired">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Schedule D required is checked
              </th>
              <td>true</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Long-term 8949 box A
              </th>
              <td>33</td>
            </tr>
            <tr id="schdDshorttermboxA">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Short-term 8949 box A
              </th>
              <td>33</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Long-term 8949 box B
              </th>
              <td>33</td>
            </tr>
            <tr id="schdDshorttermboxB">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Short-term 8949 box B
              </th>
              <td>33</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Long-term 8949 box C
              </th>
              <td>33</td>
            </tr>
            <tr id="schdDshorttermboxC">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Short-term 8949 box C
              </th>
              <td>33</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Capital gains distributions
              </th>
              <td>33</td>
            </tr>
            <tr id="schdDshortterm6252">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Short-term gains, etc.
              </th>
              <td>33</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Your Schedule D
              </th>
              <td>NA</td>
            </tr>
            <tr id="schdDnetshorttermgains">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Net short-term gains, etc.
              </th>
              <td>33</td>
              <td></td>
              <td></td>
            </tr>
          </table>

          <!--expenses.html-->
          <h3>Expenses</h3>
          <table border="1" style="width:90%;margin:1.5em auto;">
            <tr id="expenseassistedliving">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Assisted living or adult family home
              </th>
              <td>66.00</td>
            </tr>
            <tr id="expensepres">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Non-reimbursed prescriptions
              </th>
              <td>66.00</td>
            </tr>
            <tr id="expensesinhome">
              <th style="text-align:left;padding:0.25em;width:33%;">
                In-home care and nursing home
              </th>
              <td>66.00</td>
            </tr>
            <tr id="expensemedicareplan">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Approved Medicare Advantage plan
              </th>
              <td>66.00</td>
            </tr>
            <tr id="medicareplanid">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Medicare provider
              </th>
              <td>d9f5d35c-3d94-e911-a979-001dd800d601</td>
            </tr>
            <tr id="expensesDocument">
              <th style="text-align:left;padding:0.25em;width:33%;">
                Your expense documents
              </th>
              <td style="text-align:left;padding:0.25em;width:33%;">NA</td>
            </tr>
          </table>

          <!--schedule e.html-->
          <h3>Schedule E</h3>
          <table border="1" style="width:90%;margin:1.5em auto;">
            <tr id="schdEphysaddress">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Physical address
              </th>
              <td>44</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Email address
              </th>
              <td>44</td>
            </tr>
            <tr id="schdEproptype">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Type of property
              </th>
              <td>44</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Your Schedule E
              </th>
              <td>NA</td>
            </tr>
            <tr id="proofOfAge">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Depreciation expense
              </th>
              <td>NA</td>
              <td></td>
              <td></td>
            </tr>
          </table>

          <!--schedule c.html-->
          <h3>Schedule C</h3>
          <table border="1" style="width:90%;margin:1.5em auto;">
            <tr id="schdCdepreciation">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Depreciation, etc.
              </th>
              <td>22</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Expense for business
              </th>
              <td>22</td>
            </tr>
            <tr id="schdCsqfthome">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Footage of your home
              </th>
              <td>22</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Net profit or loss
              </th>
              <td>22</td>
            </tr>
            <tr id="schdcsqftbusiness">
              <th style="text-align:left;padding:0.25em;width:25%;">
                Footage for business
              </th>
              <td>NA</td>
              <th style="text-align:left;padding:0.25em;width:25%;">
                Your Schedule C
              </th>
              <td>NA</td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <h2>Agreed and signed:</h2>
      <ds-fullname data-ds-role="Signer1" /><br /><ds-signature
        data-ds-role="Signer1"
      /><br />Date Signed: <ds-date-signed data-ds-role="Signer1" /><br />
    </div>
  </body>
</html>
