<!--expenses.html-->
<h3>Expenses</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="expenseassistedliving">
    <th style="text-align:left;padding:0.25em;width:33%;">
      Assisted living or adult family home
    </th>
    <td>%expenseassistedliving%</td>
  </tr>
  <tr id="expensepres">
    <th style="text-align:left;padding:0.25em;width:33%;">
      Non-reimbursed prescriptions
    </th>
    <td>%expensepres%</td>
  </tr>
  <tr id="expensesinhome">
    <th style="text-align:left;padding:0.25em;width:33%;">
      In-home care and nursing home
    </th>
    <td>%expensesinhome%</td>
  </tr>
  <tr id="expensemedicareplan">
    <th style="text-align:left;padding:0.25em;width:33%;">
      Approved Medicare Advantage plan
    </th>
    <td>%expensemedicareplan%</td>
  </tr>
  <tr id="medicareplanid">
    <th style="text-align:left;padding:0.25em;width:33%;">Medicare provider</th>
    <td>%medicareplanid%</td>
  </tr>
  <tr id="expensesDocument">
    <th style="text-align:left;padding:0.25em;width:33%;">
      Your expense documents
    </th>
    <td>%expensesDocument%</td>
  </tr>
</table>
