<!--schedule d.html-->
<h3>Schedule D</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="schdDrequired">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Schedule D required is checked
    </th>
    <td>%schdDrequired%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Long-term 8949 box A
    </th>
    <td>%schdDlongtermboxA%</td>
  </tr>
  <tr id="schdDshorttermboxA">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Short-term 8949 box A
    </th>
    <td>%schdDshorttermboxA%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Long-term 8949 box B
    </th>
    <td>%schdDlongtermboxB%</td>
  </tr>
  <tr id="schdDshorttermboxB">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Short-term 8949 box B
    </th>
    <td>%schdDshorttermboxB%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Long-term 8949 box C
    </th>
    <td>%schdDlongtermboxC%</td>
  </tr>
  <tr id="schdDshorttermboxC">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Short-term 8949 box C
    </th>
    <td>%schdDshorttermboxC%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Capital gains distributions
    </th>
    <td>%schdDcapgains%</td>
  </tr>
  <tr id="schdDshortterm6252">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Short-term gains, etc.
    </th>
    <td>%schdDshortterm6252%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your Schedule D</th>
    <td>%yourscheduleD%</td>
  </tr>
  <tr id="schdDnetshorttermgains">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Net short-term gains, etc.
    </th>
    <td>%schdDnetshorttermgains%</td>
    <td></td>
    <td></td>
  </tr>
</table>
