<!--schedule c.html-->
<h3>Schedule C</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="schdCdepreciation">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Depreciation, etc.
    </th>
    <td>%schdCdepreciation%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Expense for business
    </th>
    <td>%schdCexbusinesshome%</td>
  </tr>
  <tr id="schdCsqfthome">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Footage of your home
    </th>
    <td>%schdCsqfthome%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">
      Net profit or loss
    </th>
    <td>%schdCnetprofitloss%</td>
  </tr>
  <tr id="schdcsqftbusiness">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Footage for business
    </th>
    <td>%schdcsqftbusiness%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your Schedule C</th>
    <td>%yourscheduleC%</td>
  </tr>
</table>
