<!--schedule e.html-->
<h3>Schedule E</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="schdEphysaddress">
    <th style="text-align:left;padding:0.25em;width:25%;">Physical address</th>
    <td>%schdEphysaddress%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Email address</th>
    <td>%schdEdepreciation%</td>
  </tr>
  <tr id="schdEproptype">
    <th style="text-align:left;padding:0.25em;width:25%;">Type of property</th>
    <td>%schdEproptype%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your Schedule E</th>
    <td>%yourscheduleE%</td>
  </tr>
  <tr id="proofOfAge">
    <th style="text-align:left;padding:0.25em;width:25%;">
      Depreciation expense
    </th>
    <td>%proofOfAge%</td>
    <td></td>
    <td></td>
  </tr>
</table>
