<!--schedule 1.htm-->
<h3>Schedule 1</h3>
<table border="1" style="width:90%;margin:1.5em auto;">
  <tr id="schd1taxrefunds">
    <th style="text-align:left;padding:0.25em;width:25%;">Refunds, etc</th>
    <td>%schd1taxrefunds%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Rental, etc.</th>
    <td>%schd1rentalrealestate%</td>
  </tr>
  <tr id="schd1alimony">
    <th style="text-align:left;padding:0.25em;width:25%;">Alimony</th>
    <td>%schd1alimony%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Farm</th>
    <td>%schd1farmincomeloss%</td>
  </tr>
  <tr id="schd1businessincomeloss">
    <th style="text-align:left;padding:0.25em;width:25%;">Business income</th>
    <td>%schd1businessincomeloss%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Unemployment</th>
    <td>%schd1unemployment%</td>
  </tr>
  <tr id="schd1capgainloss">
    <th style="text-align:left;padding:0.25em;width:25%;">Capital gains</th>
    <td>%schd1capgainloss%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Other income</th>
    <td>%schd1otherincomeamt%</td>
  </tr>
  <tr id="schd1othergainsloss">
    <th style="text-align:left;padding:0.25em;width:25%;">Other gains</th>
    <td>%schd1othergainsloss%</td>
    <th style="text-align:left;padding:0.25em;width:25%;">Your Schedule 1</th>
    <td>%yourschedule1%</td>
  </tr>
</table>
