<html>
  <style>
    table {
      border: 0;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #aaaaaa;
    }
  </style>
  <body style="font-family:'Open Sans', sans-serif; line-height:2em;">
    <div
      style="text-align:left;max-width:60em;padding:1em;margin:1.5em auto;border:1px solid #aaaaaa;"
    >
      <h1>Senior Exemption application</h1>
      <!--       <p>
        Please verify this information is accurate and sign at the bottom of
        this document.
      </p>
 -->
      <h2>Your info</h2>
      <table style="width:100%;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Full name</th>
          <td style="padding:0.25em">%firstname% %lastname%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Date of birth
          </th>
          <td style="padding:0.25em">%birthdate%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Proof of age
          </th>
          <td style="padding:0.25em">%docageapplicant%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Proof of disability
          </th>
          <td style="padding:0.25em">%docdisability%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Email
          </th>
          <td style="padding:0.25em">%emailaddress%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Phone
          </th>
          <td style="padding:0.25em">%phone%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Veteran</th>
          <td style="padding:0.25em">%veteran%</td>
        </tr>
      </table>

      <h2>Spouse or registered domestic partner info</h2>
      <table style="width:100%;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Full name</th>
          <td style="padding:0.25em">%spousefullname%</td>
        </tr>
      </table>

      <h2>Property info</h2>
      <h3></h3>
      <table style="width:100%;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Your property
          </th>
          <td style="padding:0.25em">
            %namesonaccount%<br />%address% %district%, WA <br />%zipcode%
          </td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">Parcel #</th>
          <td style="padding:0.25em">
            %major%-%minor%
          </td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            First year as primary residence
          </th>
          <td style="padding:0.25em">%occupieddate%</td>
        </tr>

        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            This property has been my primary residence since I acquired it.
          </th>
          <td style="padding:0.25em">%currentlyownoccupy%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            I share ownership of this property with someone other than my spouse
            or registered domestic partner.
          </th>
          <td style="padding:0.25em">%otheroccupants%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Other properties
          </th>
          <td style="padding:0.25em">%ownmultipleproperties%</td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Property is a co-op
          </th>
          <td style="padding:0.25em">%housingcoop%</td>
        </tr>
      </table>

      <h2>Mail</h2>
      <table style="width:100%;">
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Mailing address
          </th>
          <td style="padding:0.25em">
            %addrstreet1% %addrcity%<br />
            WA %addrpostal%<br />
          </td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Correspondence address
          </th>
          <td style="padding:0.25em">
            %correspondencename%<br />
            %correspondenceStreetCity%<br />
            %correspondenceStateZip%<br />
          </td>
        </tr>
        <tr>
          <th style="text-align:left;padding:0.25em;width:33%;">
            Check address
          </th>
          <td style="padding:0.25em">
            %checkaddressname%<br />
            %checkStreetCity%<br />
            %checkStateZip%<br />
          </td>
        </tr>
      </table>

      <h2>Financial info</h2>
      <div>%forms%</div>

      <hr />
      <!--       <h2>Agreed and signed:</h2>
      <ds-fullname data-ds-role="Signer1" />
      <br />
      <ds-signature data-ds-role="Signer1" />
      <br />
      Date signed: <ds-date-signed data-ds-role="Signer1" />
      <br />
 -->
    </div>
  </body>
</html>
