.custom-content-dialog-body {
  color: black;
}

.custom-dialog-content-header {
  position: static;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0;
  height: 74px !important;
  z-index: 1;
  border-bottom: 1px solid gray;
}
