.custom-warning {
  text-align: left;
  font-size: 0.8em;
  margin-left: 90px;
  display: flex;
  width: 100%;
}

.warning-text {
  color: #d20000;
  font-size: 0.88rem;
  max-width: 100%;
  display: inline-block;
}

.warning-icon {
  margin-right: 10px;
  color: #d20000;
  vertical-align: top;
}
