.custom-button {
  margin-top: 40px;
}

.custom-button-spinner {
  position: relative;
  left: -10px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}
#inner1 {
  float: left;
}
#inner2 {
  float: left;
  clear: left;
}
