.yearTab {
  border-width: 1.3px;
  font-size: 18px;
  min-width: 60px;
  width: 158px;
  display: inline-block;
  background-color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
}

.yearTabSelected {
  border-width: 1.3px;
  font-size: 18px;
  min-width: 60px;
  width: 158px;
  display: inline-block;
  background-color: #d4e693;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
}

.year-tabs {
  border-radius: 4px;
  margin: 0;
}
