<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="index.html" />
            </files>
        </defaultDocument>
        <rewrite>
          <rules>
            <rule name="React MapboxControl Routes" stopProcessing="true">
              <match url="^mapboxcontrol/.*" />
              <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
              </conditions>
              <action type="Rewrite" url="/mapboxcontrol/index.html" />
            </rule>
            <rule name="React CustomSearches Routes" stopProcessing="true">
              <match url="^customsearches/.*" />
              <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
              </conditions>
              <action type="Rewrite" url="/customsearches/index.html" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>