.GenericGrid {
  height: inherit;

  .ag-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 33px;
    line-height: 33px !important;
    width: fit-content;
  }

  .classheader {
    padding-left: 5px !important;
    padding-right: 5px !important;
    height: 33px;
    line-height: 33px !important;
  }

  .ag-header-cell {
    padding: 0 !important;
    height: 33px;
  }

  .ag-cell-auto-height {
    height: 33px !important;
  }

  .ag-cell .number-chooser,
  .ag-cell .date-chooser,
  .ag-cell .combo-box,
  .ag-cell .dropdown,
  .ag-cell .textbox {
    line-height: inherit !important;
    height: 33px !important;
  }
  &-showBorders {
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000;
      position: absolute;
      top: 43%;
      left: calc(100% - 20px);
    }
    .ag-theme-alpine .ag-icon {
      display: none !important;
    }
  }
}
