<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFolder" value="\\asr-sunset\Drawings\Complete" />
    <add key="OutputFolder" value=".\xml\" />
    <add key="ConnectionString" value="" />
    <add key="BlobContainerName" value="sketch-files" />
    
    <add key="crmUri" value="https://ptas-dev.crm9.dynamics.com/" />
    <add key="authUri" value="https://login.windows.net/KC1.onmicrosoft.com" />
    <add key="clientId" value="" />
    <add key="clientSecret" value="" />
    <add key="apiRoute" value="api/data/v9.1/" />
    <add key="isOfficialToken" value="" />
    <add key="dataServiceURL" value="https://ptas-sbox-dataservices-sandbox.azurewebsites.net/" />
    <add key="setOfficialSketchAPIRoute" value="api/Sketch/SetSketchAsOfficial" />
  </appSettings>
</configuration>