<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Flag" value="Exporting" />
    <add key="InputFolder" value="\\asr-sunset\Drawings\Complete" />
    <add key="OutputFolder" value=".\xml\" />
    <add key="ExportMostRecentFileDate" value="12/01/1902 12:00:00 AM" />
    <add key="UploadMostRecentFileDate" value="12/01/1900 12:00:00 AM" />
    <add key="ConnectionString" value="" />
    <add key="BlobContainerName" value="sketch" />
  </appSettings>
</configuration>